---
const { friends } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friends</title>
  </head>
  <body>
    <div class="friends">
      {
        friends.map((friend) => (
          <div class="friend">
            <ul>
              <li>Name: {friend.getFullNameDust}</li>
              <li>Balance: {friend.balance}</li>
              <li>Age: {friend.age}</li>
              <li>Address: {friend.address}</li>
              <li>
                Image: <img src={friend.picture} />
              </li>
              <li>Company: {friend.company}</li>
              <li>
                Email: <a href={`mailto:${friend.email}`}>{friend.email}</a>
              </li>
              <li>About: {friend.about}</li>
              {friend.tags && (
                <li>
                  Tags:
                  <ul>
                    {friend.tags.map((tag) => (
                      <li>{tag}</li>
                    ))}
                  </ul>
                </li>
              )}
              {friend.friends && (
                <li>
                  Friends:
                  <ul>
                    {friend.friends.map((f) => (
                      <li>
                        {f.name} ({f.id})
                      </li>
                    ))}
                  </ul>
                </li>
              )}
            </ul>
          </div>
        ))
      }
    </div>
  </body>
</html>
